footer{
    color: #FFF;
    margin: 10px 0;
}
footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
footer ul li{
    border-right: 1px solid #fff;
    padding: 0 30px 0 30px;
    margin: 10px 0;
    font-size: 12px;
}
footer ul li:first-child{
    padding: 0;
    padding-right: 30px;
}
footer ul li:last-child{
    border: none;
}
footer p{
    color: #FFF;
}
footer input[type=text]{
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
}
footer .social-icons{
    padding: 0;
}
footer .social-icons li{
    display: inline;
    margin: 0 10px 0 0;
    border: none;
    padding: 0;
}
footer .social-icons li:first-child{
    padding: 0;
}
footer .social-icons img{
    width: 25px;
    height: 25px;
}
footer .usefulLinks ul li{
    border: none;
}
footer .usefulLinks ul{
    padding: 0;
}
footer .usefulLinks ul:last-child{
    column-count: 2;
    column-gap: 100px;
    display: inline-block;
}
footer .usefulLinks ul li{
padding: 0;
}
footer .usefulLinks ul li a{
    color: #FFF;
}
footer .usefulLinks ul li a:hover{
    text-decoration: none;
}